<div ng-controller="addItemController">
    <div class="container-fluid">

        <h2>Add a new Item</h2>

 <div>

     <ng-form name="addForm" class="AddItem span4">
         <label for="nameInput">Name:</label>
         <input type="text" required ng-model="name" id="nameInput"/>

         <label for="DescInput">Description:</label>
         <input type="text" required ng-model="description"  id="DescInput"/>

         <label for="pointsInput">Points:</label>
         <input type="text" required point-value ng-model="points" id="pointsInput"/>

         <label for="locationInput">Location:</label>
         <input type="text" required ng-model="location" id="locationInput"/>

         <label for="categoryInput">Category:</label>
         <input type="text" required ng-model="category" id="categoryInput"/>
         <br/>
         <button type="submit" ng-click="addItem(addForm)">Add</button>
     </ng-form>

     <div ng-show="somethingPopulated()" class="span7">

         <card
               name="name"
               description="description"
               points="points"
               category="category"
               location="location"
               suggested="true">

         </card>


     </div>

 </div>
    </div>
</div>