<div ng-controller="ListCultureItems">
    <div class="container-fluid">

        <h2>Culture Experiences:</h2>

        <div class="filterArea">
            Search: <input type="text" ng-model="search"/>

            <div class="addItem">
                <button ng-click="addnewItem()">Add a new item</button>
            </div>

        </div>

        <div ng-repeat="cultureItem in cultureItems | filter:search" class="span10 cultureCard img-rounded">
            <h3>{{cultureItem.name}}</h3>
            <p>{{cultureItem.description}}</p>
            <div>Culture Points: {{cultureItem.culturalValue}}</div>
            <p>{{cultureItem.location}}</p>
            <p>{{cultureItem.category}}</p>
        </div>

    </div>
</div>